@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans';
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    margin: 0;

}
.container{
    margin: 30px auto;
    width: 1200px;
    max-width: 100%;
}
.flex{
    display: flex;
    margin: 60px auto;
}
.flex div:first-child{
    margin-right: 20px;
    /* flex: 0.6; */
    width: 710px;
    max-width: 100%;
}
.flex div:last-child{
width: 100%;
/* flex: 0.4; */
margin-left: 40px;

color: white;
}
p{
    width: 100%;
    line-height: 30px;
    opacity: 0.9;
    letter-spacing: 2px;
}
h1{
    font-family: 'Poppins';
    font-size: 40px;
}

button{
    width: 200px;
    margin: 0 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    color: hsl(257, 40%, 49%);
    font-size: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}
ul{
    display: flex;
    list-style: none;
    color: white;
    text-align: center;
    justify-content: flex-end;
}
ul li{
/* margin-left: 20px; */
border: 1px solid white;
width: 40px;
height: 40px;
border-radius: 50%;
margin-left: 20px;


}
i{
    margin-top: 25%;

}

@media screen and (max-width:768px){
    .container{
        margin: 20px;
    }
    .flex{
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flex div:first-child{
        flex: 1;}
    .flex div:last-child{
        text-align: center;
        flex: 1;
    }
    ul{
        justify-content: center;
    }
    button{
        width: 70%;
    }
}